.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #f6d743; /* Isle of Dogs yellow */
}

.loader__gif-wrapper {
  width: 300px;
  height: 300px;
}
